<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.api.Mapper.DemoMapper">
    <!-- 로그인 -->
    <select id="getUserAccount" resultType="com.example.demo.api.VO.Profile.ProfileVO">
        SELECT * FROM TB_PROFILE
        WHERE email= #{email}
    </select>

    <select id="checkEmail" resultType="int" parameterType="String">
        select EXISTS (
            select EMAIL from TB_PROFILE where EMAIL=#{paramEmail} limit 1) as checkEmail;
    </select>
    <!-- 회원가입 -->
    <insert id="saveUser" parameterType="com.example.demo.api.VO.Profile.ProfileVO" useGeneratedKeys="true" keyProperty="pid">
        INSERT INTO TB_PROFILE
        (EMAIL,
         PASSWORD,
         NICKNAME,
         `NAME`,
         MODEL,
         PLAYER_TIMEZONE,
         MAIN_MISSON,
         SUB_MISSON,
         LAST_POS,
         LAST_CITY,
         BALANCE,
         BADGE_STATE,
         LICENSE_STATE,
         INVENTORY,
         IMPORT_INFO,
         EXPORT_INFO,
         ENERGY_IMPORT,
         FUEL_INFO,
         VEHICLE_UNLOCK,
         PLAYER_LAST_UPTIME)
        VALUES (#{email},
                #{password},
                #{nickname},
                #{name},
                #{model},
                #{player_timezone},
                #{main_misson},
                #{sub_misson},
                #{last_pos},
                #{last_city},
                #{balance},
                #{badge_state},
                #{license_state},
                #{inventory},
                #{import_info},
                #{export_info},
                #{energy_import},
                #{fuel_info},
                #{vehicle_unlock},
                NOW());
        <selectKey keyProperty="pid" resultType="com.example.demo.api.VO.Profile.ProfileVO" order="AFTER">
            select PID FROM TB_PROFILE WHERE email = #{email}
        </selectKey>

</insert>

    <insert id="saveCity">
        INSERT INTO `TB_CITY`
            (`PID`,
             `POPULATION`,
             `HAPPY_INDEX`,
             `ECO_ELEC_ENERGY_INDEX`,
             `NON_ELEC_ENERGY_INDEX`,
             `OIL_ENERGY_INDEX`,
             `ENVI_SCORE`,
             `WATER_ENVI_SCORE`,
             `AIR_ENVI_SCORE`,
             `SOIL_ENVI_SCORE`,
             `DUTY_TAX_RATE`,
             `INCOME_TAX_RATE`,
             `DONATION_TOTAL`,
             `RANKING`,
             `OIL_TRAFFIC_SCORE`,
             `ELEC_TRAFFIC_SCORE`,
             `SUBSIDY_SCORE`,
             `IMPORT_TOTAL`,
             `EXPORT_TOTAL`
             ) VALUES (#{pid}
                       ,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)

    </insert>

    <insert id="saveMap">
        INSERT INTO `TB_MAP`(`PID`,
                             `TRAFFIC_HUB_UNLOCK`,
                             `FACTORY_LEVEL`,
                             `FACTORY_INFO`,
                             `ELEC_FACTORY_UNLOCK`,
                             `ELEC_FACTORY_INFO`,
                             `POWER_PLANT_UNLOCK`,
                             `ESS_INFO`,
                             `BUTTIPORT_UNLOCK`,
                             `SUBSIDY_INFO`,
                             `DECO_ITEM_POSITION`,
                             `WESERAGE_UNLOCK`,
                             `FIBER_MACHINE_UNLOCK`,
                             `FURANCE_UNLOCK`,
                             `FURANCE_INFO`
                             ) VALUES (#{pid},
                                       0,0,'0',0,'0',0,0,0,'0','0',0,0,0,'0')
    </insert>

    <update id="saveGame" parameterType="com.example.demo.api.VO.Profile.ProfileVO">
        UPDATE TB_PROFILE
        <trim prefix="SET" suffixOverrides=",">
            <if test="email !=null">
                email = #{email},
            </if>
            <if test="password !=null">
                password = #{password},
            </if>
            <if test="nickname !=null">
                nickname = #{nickname},
            </if>
        </trim>
        WHERE pid = #{pid}
    </update>

    <delete id="withdrawMembership" parameterType="String">
        DELETE
        FROM `TB_PROFILE`
        WHERE PID = #{pid};
    </delete>

    <select id="loadProfile" resultType="com.example.demo.api.VO.Profile.ProfileResponse">
        SELECT *
        FROM `TB_PROFILE`
        WHERE PID = #{pid};
    </select>

    <update id="uploadProfile" parameterType="com.example.demo.api.VO.Profile.ProfileVO">
        UPDATE TB_PROFILE
        SET
        EMAIL = #{email},
        PASSWORD = #{password},
        NICKNAME = #{nickname},
        `NAME`=#{name},
        MODEL = #{model},
        PLAYER_TIMEZONE = #{player_timezone},
        PLAYER_LAST_UPTIME = #{player_last_uptime},
        MAIN_MISSON = #{main_misson},
        SUB_MISSON = #{sub_misson},
        LAST_POS = #{last_pos},
        LAST_CITY = #{last_city},
        BALANCE = #{balance},
        BADGE_STATE = #{badge_state},
        LICENSE_STATE = #{license_state},
        UPDATE_TIME = #{update_time},
        INVENTORY = #{inventory},
        IMPORT_INFO = #{import_info},
        EXPORT_INFO = #{export_info},
        ENERGY_IMPORT = #{energy_import},
        FUEL_INFO = #{fuel_info},
        VEHICLE_UNLOCK = #{vehicle_unlock}
        WHERE PID = #{pid}
    </update>

    <update id="updatePlayerModel" parameterType="com.example.demo.api.VO.Profile.ProfileVO">
        UPDATE `TB_PROFILE`
        SET
            `MODEL`=#{model}
        WHERE PID = #{pid}
    </update>

    <update id="passwordReset" parameterType="com.example.demo.api.VO.Profile.ProfileVO">
        UPDATE `TB_PROFILE`
        SET
            `PASSWORD`=#{password}
        WHERE PID = #{pid}
    </update>

    <select id="listUpCity" resultType="String" parameterType="com.example.demo.api.VO.City.ListUpCity">
        SELECT
            A.MID as mid
        FROM `TB_MAP` A
                 LEFT OUTER JOIN `TB_CITY` B
                                 ON B.PID = A.PID
        WHERE B.RANKING BETWEEN #{maxRanking} AND #{minRanking} LIMIT #{count};
    </select>

    <select id="loadCity" resultType="com.example.demo.api.VO.City.CityVO">
        SELECT *
        FROM `TB_CITY`
        WHERE PID = #{pid}
    </select>

    <update id="uploadCity" parameterType="com.example.demo.api.VO.City.CityVO">
        UPDATE TB_CITY
        SET
            POPULATION=#{population},
            HAPPY_INDEX=#{happy_index},
            ECO_ELEC_ENERGY_INDEX=#{eco_elec_energy_index},
            NON_ELEC_ENERGY_INDEX=#{non_elec_energy_index},
            OIL_ENERGY_INDEX=#{oil_energy_index},
            ENVI_SCORE=#{envi_score},
            WATER_ENVI_SCORE=#{water_envi_score},
            AIR_ENVI_SCORE=#{air_envi_score},
            SOIL_ENVI_SCORE=#{soil_envi_score},
            DUTY_TAX_RATE=#{duty_tax_rate},
            INCOME_TAX_RATE=#{income_tax_rate},
            DONATION_TOTAL=#{donation_total},
            RANKING=#{ranking},
            OIL_TRAFFIC_SCORE=#{oil_traffic_score},
            ELEC_TRAFFIC_SCORE=#{elec_traffic_score},
            SUBSIDY_SCORE=#{subsidy_score},
            IMPORT_TOTAL=#{import_total},
            EXPORT_TOTAL=#{export_total}
        WHERE PID=#{pid}
    </update>

    <update id="updateDonation" parameterType="com.example.demo.api.VO.City.CityVO">
        UPDATE `TB_CITY`
        SET
            `DONATION_TOTAL`=#{donation_total}
        WHERE CID=#{cid};
    </update>

    <insert id="uploadCityData" parameterType="com.example.demo.api.VO.City.CityDataVO">
        INSERT INTO `TB_CITY_DATA`(
                                   `CID`,
                                   `TERM_TYPE`,
                                   `DATA_TYPE`,
                                   `DATA_RATE`,
                                   `UPDATE_TIME`)
        VALUES (#{cid},
                #{term_type},
                #{data_type},
                #{data_rate},
                NOW());
    </insert>

    <select id="loadCityData" resultType="hashmap">
        SELECT `DATA_ID` as data_id,
               `CID` as cid,
               `TERM_TYPE` as term_type,
               `DATA_TYPE` as data_type,
               `DATA_RATE` as data_rate,
               `UPDATE_TIME` as update_time
        FROM TB_CITY_DATA
        WHERE UPDATE_TIME BETWEEN DATE_ADD(NOW(), INTERVAL -#{duration} DAY ) AND NOW()
          AND CID = #{cid}
          AND DATA_TYPE = #{data_type};
    </select>
    <select id="loadMap" resultType="com.example.demo.api.VO.Map.MapVO">
        SELECT *
        FROM `TB_MAP`
        WHERE PID=#{pid}
    </select>

    <update id="uploadMap" parameterType="com.example.demo.api.VO.Map.MapVO">
        UPDATE `TB_MAP`
        SET
            `TRAFFIC_HUB_UNLOCK`=#{traffic_hub_unlock},
            `FACTORY_LEVEL`=#{factory_level},
            `FACTORY_INFO`=#{factory_info},
            `ELEC_FACTORY_UNLOCK`=#{elec_factory_unlock},
            `ELEC_FACTORY_INFO`=#{elec_factory_info},
            `POWER_PLANT_UNLOCK`=#{power_plant_unlock},
            `ESS_INFO`=#{ess_info},
            `BUTTIPORT_UNLOCK`=#{buttiport_unlock},
            `SUBSIDY_INFO`=#{subsidy_info},
            `DECO_ITEM_POSITION`=#{deco_item_position},
            `WESERAGE_UNLOCK`=#{weserage_unlock},
            `FIBER_MACHINE_UNLOCK`=#{fiber_machine_unlock},
            `FURANCE_UNLOCK`=#{furance_unlock},
            `FURANCE_INFO`=#{furance_info}
        WHERE PID = #{pid}
    </update>

    <select id="loadNotiList" resultType="hashmap">
        SELECT
            `NID` as nid,
            `PID` as pid,
            `NOTI_TYPE` as noti_type,
            `TITLE` as title,
            `CONTENT` as content,
            `UPDATE_TIME` as update_time,
            `IS_READ` as is_read
        FROM `TB_NOTI`
        WHERE PID=#{pid};
    </select>

    <select id="loadNotiDetail" resultType="com.example.demo.api.VO.Notification.NotiVO">
        SELECT *
        FROM `TB_NOTI`
        WHERE NID=#{nid};
    </select>

    <insert id="uploadNotiDetail" parameterType="com.example.demo.api.VO.Notification.NotiVO">
        INSERT INTO `TB_NOTI`
            (
             `PID`,
             `NOTI_TYPE`,
             `TITLE`,
             `CONTENT`,
             `IS_READ`,
             `UPDATE_TIME`)
        VALUES (#{pid},
                #{noti_type},
                #{title},
                #{content},
                #{is_read},
                NOW());
    </insert>

    <delete id="deleteNoti" parameterType="com.example.demo.api.VO.Notification.NotiVO">
        DELETE
        FROM TB_NOTI
        where NID = #{nid}
    </delete>

    <update id="updateNotiIsread" parameterType="com.example.demo.api.VO.Map.MapVO">
        UPDATE `TB_NOTI`
        SET
            `IS_READ` = 1
        WHERE NID = #{nid}
    </update>

    <insert id="requestFriend" parameterType="com.example.demo.api.VO.Notification.NotiVO">
        INSERT INTO `TB_NOTI`
        (
            `PID`,
            `NOTI_TYPE`,
            `TITLE`,
            `CONTENT`,
            `UPDATE_TIME`)
        VALUES (#{pid},
                2,
                #{title},
                #{content},
                NOW());
    </insert>

    <insert id="acceptFriend" parameterType="com.example.demo.api.VO.Friends.FriendVO">
        INSERT INTO `TB_FRIEND`
            (`PID1`, `PID2`) VALUES (#{pid1},#{pid2});
    </insert>
    <insert id="acceptFriend2" parameterType="com.example.demo.api.VO.Friends.FriendVO">
        INSERT INTO `TB_FRIEND`
            (`PID1`, `PID2`) VALUES (#{pid2},#{pid1});
    </insert>


    <delete id="deleteFriend" parameterType="com.example.demo.api.VO.Friends.FriendVO">
        DELETE
        FROM TB_FRIEND
        where PID1 = #{pid1}
          and PID2 = #{pid2};
    </delete>

    <delete id="deleteFriend2" parameterType="com.example.demo.api.VO.Friends.FriendVO">
        DELETE
        FROM TB_FRIEND
        where PID1 = #{pid2}
          and PID2 = #{pid1};
    </delete>

    <select id="loadFriendList" resultType="hashmap">
        SELECT
            `PID1` as pid1,
            `PID2` as pid2,
            `UPDATE_TIME` as update_time
        FROM `TB_FRIEND`
        WHERE PID1 = #{pid1};
    </select>
</mapper>