<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.api.Mapper.DemoMapper">
    <!-- 로그인 -->
    <select id="getUserAccount" resultType="com.example.demo.api.VO.ProfileVO">
        SELECT * FROM TB_PROFILE
        WHERE email= #{email}
    </select>

    <!-- 회원가입 -->
    <insert id="saveUser" parameterType="com.example.demo.api.VO.ProfileVO">
        INSERT INTO TB_PROFILE
                    (
                     email,
                     password,
                     nickname)
            VALUES(
                   #{email},
                   #{password},
                   #{nickname}
                   );
    </insert>

    <update id="saveGame" parameterType="com.example.demo.api.VO.ProfileVO">
        UPDATE TB_PROFILE
        <trim prefix="SET" suffixOverrides=",">
            <if test="email !=null">
                email = #{email},
            </if>
            <if test="password !=null">
                password = #{password},
            </if>
            <if test="nickname !=null">
                nickname = #{nickname},
            </if>
        </trim>
        WHERE pid = #{pid}
    </update>
</mapper>